.aside-banner{
    position: relative;
    margin-top: 50px;
    width: 100%;
    height:250px;
}
.aside-banner-span{
    position: absolute;
    width:auto;
    height: 10px;
    left: 50%;
    margin:-20px 0 0 -40px ;
}
.aside-banner-span>span{
    float: left;
    display: block;
    background: rgba(80, 255, 178, 0.33);
    width: 10px;
    margin: 0 5px;
    height: 10px;
    border-radius: 100%;
}
.aside-ban{
    padding:5px 0;
    position:relative;
    cursor: pointer;

}
.aside-ban>span{
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #99ff37;
}
.aside-ban>label{
    display: block;
    position: absolute;
    top: 55px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    color:#206733;
}
.aside-ban>label:hover {
    color:#206733;
}
.aside-ba-1,.aside-ba-2{
background: rgba(59, 200, 48, 0.5);
}
.aside-ba-1>.aside-ban:nth-child(1)>span,.aside-ba-2>.aside-ban:nth-child(4)>span{
    background: #ff7a5a;
}
.aside-ba-1>.aside-ban:nth-child(2)>span,.aside-ba-2>.aside-ban:nth-child(3)>span{
    background: #ffce92;
}
.aside-ba-1>.aside-ban:nth-child(3)>span,.aside-ba-2>.aside-ban:nth-child(1)>span{
    background: #70daff;
}
.aside-ba-1>.aside-ban:nth-child(4)>span,.aside-ba-2>.aside-ban:nth-child(2)>span{
    background: #81ffa0;
}
.foot-row-1{
    width: 100%;
    height:auto;
}
.foot-row-1>span{
    display: inline-block;
    width: 14%;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: #d1fcff;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
}
.foot-row-1>span:first-child{
    margin-left: 1%;
}
.foot-row-2{
    width: 100%;
    height:auto;
    padding-bottom: 50px;
}


