.footer-span{
}
.footer-span>div{
    text-align: center;
}
.footer-span>div>span{
    display: block;
    width: 100%;
    color: #fff;
    line-height: 25px;
    height: 25px;
}
.footer-span>div:hover span,.footer-span>div:hover a{
    color: red;
}
.footer-span>div>label>a{
    display: block;
    width: 100%;
    color: #06995b;
    font-size: 8px;
    line-height: 20px;
    height: 20px;
    transform:scale(0.9);
}